.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
   
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.5rem;

}

.logo>span{
    font-weight: bold;
    font-size: 1.5rem;
}
/* search */
.search{
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
    width: 361px;
    padding-left: 16px;
  
   background-color: rgba(22,24,35,0.06);
   border-radius: 92px;
   border: 1.5px solid transparent;

    input{
        flex: 1;
        height: 100%;
        color: var(--themeBlack);
        font-size: 1rem;
        border: none;
        background-color: transparent;
        outline: none;

    }
    &::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 28px;
        top:9px;
        right:45px;
        background-color: rgba(22,24,35,0.12);
      
    }
    &:focus-within{
        border-color:  var(--themeRed);
    }
}
.searchBtn{
    width: 40px;
    height: 100%;
    text-align: center;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    margin-left: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgba(22,24,35,0.03);
    }
  
}

.rightSide{

    display: flex;
    gap:1rem;
    justify-content: flex-end;
}
.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 100;
}
.badge{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themeRed);
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -0.5rem;
}
.iconMenu{
    display: none;
}
.navMobile{
    display: none;
}
.navInput{
    display: none;
}
 /* responsive */

 /* table  */
 @media (min-width: 740px) and (max-width: 1023px) {

    
}

/* mobile */
@media (max-width:739px) {
    .header{
       
        padding: 1rem ;
       
    }
 
    .navInput:checked ~ .navMobile {
        transform: translate(0);
    }
  
    .navClose{
        position: absolute;
        top:1.3rem;
        right: 1rem;
    }
    .logoMobile{
      position: absolute;
      top:65%;
      left: 50% ;
      transform: translateY(-50%) translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap:0.5rem;
      flex: 1;
    }
    .logoMobile>span{
    font-weight: bold;
    font-size: 1.5rem;
}

}